---
extends: default

ignore: |
  helm/*/templates/*.yaml
  helm/*/templates/*.yml

rules:
  line-length:
    max: 88
    level: warning
  comments-indentation:
    level: warning
  document-start:
    level: warning
  brackets:
    max-spaces-inside: 1
    min-spaces-inside: 0
  braces:
    max-spaces-inside: 1
    min-spaces-inside: 0
