apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-database-acl
  labels:
    app.kubernetes.io/name: redis-database
data:
  users.acl: |
    user admin on >${REDIS_ADMIN_PASSWORD} ~* &* +@all
    user auth_user on >${AUTH_SERVICE_REDIS_PASSWORD} ~* &* +@all -@dangerous +info
    user scraper_user on >${SCRAPER_SERVICE_REDIS_PASSWORD} ~* &* +@all -@dangerous +info
    user user_user on >${USER_SERVICE_REDIS_PASSWORD} ~* &* +@all -@dangerous +info
    user notification_user on >${NOTIFICATION_SERVICE_REDIS_PASSWORD} ~* &* +@all -@dangerous +info
    user mealplan_user on >${MEALPLAN_SERVICE_REDIS_PASSWORD} ~* &* +@all -@dangerous +info
    user default off
