apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-database-master-config
  labels:
    app.kubernetes.io/name: redis-database
    app.kubernetes.io/component: redis-master
data:
  redis.conf: |
    port 6379
    bind 0.0.0.0
    protected-mode no
    requirepass ${REDIS_PASSWORD}
    masterauth ${REDIS_PASSWORD}
    aclfile /data/users.acl
    maxmemory 1gb
    maxmemory-policy allkeys-lru
    save 900 1 300 10 60 10000
    stop-writes-on-bgsave-error yes
    rdbcompression yes
    rdbchecksum yes
    dbfilename dump.rdb
    dir /data
    appendonly yes
    appendfilename "appendonly.aof"
    appendfsync everysec
    no-appendfsync-on-rewrite no
    auto-aof-rewrite-percentage 100
    auto-aof-rewrite-min-size 64mb
    logfile /var/log/redis/redis.log
    loglevel notice
    tcp-keepalive 300
    timeout 300
    tcp-backlog 511
    hash-max-ziplist-entries 512
    hash-max-ziplist-value 64
    list-max-ziplist-size -2
    list-compress-depth 0
    set-max-intset-entries 512
    zset-max-ziplist-entries 128
    zset-max-ziplist-value 64
    lua-time-limit 5000
    slowlog-log-slower-than 10000
    slowlog-max-len 128
