apiVersion: v1
kind: Service
metadata:
  name: redis-database-sentinel-service
  labels:
    app.kubernetes.io/name: redis-database
    app.kubernetes.io/component: redis-sentinel
spec:
  type: ClusterIP
  ports:
    - name: sentinel
      port: 26379
      targetPort: 26379
      protocol: TCP
  selector:
    app.kubernetes.io/name: redis-database
    app.kubernetes.io/component: redis-sentinel
