apiVersion: v1
kind: Service
metadata:
  name: redis-database-headless
  labels:
    app.kubernetes.io/name: redis-database
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
      protocol: TCP
  selector:
    app.kubernetes.io/name: redis-database
